@import "compass/reset";

@import "compass/typography/text/replacement";
@import "compass/typography/lists/bullets";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/links/link-colors";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "compass/css3/hyphenation";
@import "susy";


@import "partials/grid";
@import "partials/fonts";

//*COLORS*
$purple: #5A297E;
$yellow: #FFA81E;

$green: #1CDD89;
$orange: #CE4612;
$bright-orange: #F55417;
$sand: #E0EADA;
$pale: #D6E1D0;
$dark-green: #028E4A;
$brow:#6A4F51;

@mixin background-sprite($map){
	background-image: sprite-url($map);
} 

body.susy {
	background: $pale image-url('bkgr.png') repeat left top;
	webkit-font-smoothing: antialiasing;
}

.page-title{
	padding: 10px 10px 0 10px;
	color: $yellow;
	font-family:arvil_sansregular;
	font-size:38px;
	
}

.entry-title{
	@include span-columns(9,14);
	
	padding: 10px 10px 0 10px;
	color: $orange;
	font-family:arvil_sansregular;
	font-size:38px;

}
.entry-content{
	p{
		padding: 5px 10px 10px 10px;
		font-family:"titilliumtext22l400_wt";
		font-size:16px !important;
		color: $brow;
		line-height: 16px;
		@include hyphenation;
		font-weight: 400 !important;
		clear: both;
		@include span-columns(9);
		a{
			@include span-columns(15,9);
			img{
				width: 100% ;
			}
			
		}
	}
}
#comments{
	padding: 5px 10px 10px 10px;
	font-family:"titilliumtext22l400_wt";
	font-size:16px !important;
	color: $brow;
	line-height: 16px;
	@include hyphenation;
	font-weight: 400 !important;
	#comments-title{
		@include span-columns(14,14);
	}
}
.form-allowed-tags{
	display: none;
}
.entry-meta{
	padding: 5px 10px 10px 10px;
	font-family:"titilliumtext22l400_wt";
	font-size:16px !important;
	color: $brow;
	line-height: 16px;
	@include hyphenation;
	font-weight: 400 !important;
	@include span-columns(14,14);
}

.left-shade{
	
	background: image-url("shade_left.png") no-repeat;
	width: image-width("shade_left.png");
	height: image-height("shade_left.png");
	left:- image-width("shade_left.png");
	position: absolute;
}
.right-shade{
	background: image-url("shade_right.png") no-repeat ;
	width: image-width("shade_right.png");
	height: image-height("shade_right.png");
	right:- image-width("shade_right.png");
	position: absolute;
}


.item{
	background-color: #E5ECE4;
	border: 1px #DEE6D9 solid;
	width: 185px;
	min-height: 150px;
	
	margin: 3px;
	
	&:hover{
		background-color: #E79371;
	}
	a{
		text-decoration: none;
		&:visited{
			h2{
				color: #F3C676;
			}
		}
	}
	h2{
		padding: 10px 10px 0 10px;
		color: $purple;
		font-family:arvil_sansregular;
		font-size:28px;
		white-space: normal;
		font-weight: 400 !important;
		@include hyphenation;
	}
	p{
		padding: 5px 10px 10px 10px;
		font-family:"titilliumtext22l400_wt";
		font-size:16px !important;
		color: $brow;
		line-height: 16px;
		@include hyphenation;
		font-weight: 400 !important;
		
	}
	@include border-radius(5px);

}

nav#access{
	margin-top: 1em;
	@include span-columns(12);
	@include pre(1);
	@include post(1);
	#menu-primary{
		@include horizontal-list-container;
		
		li{
			@include horizontal-list-item (10px);
			border-right: 2px #000 solid;
			&:last-child{
				border: none;
			}
			a{
				font-family: "arvil_sansregular";
				@include link-colors(black, $bright-orange, $orange, $orange);
				font-size: 32px;
			}
		}
	}
}
#categories,#categories_menu,#categories_post{
	@include span-columns(12);
	@include pre(1);
	@include post(1);
	padding-top: 20px;
	padding-bottom: 20px;
	li{
	&.active a{
		background-color: red;
	}
		a{
			background-color: $yellow;
			font-size: 14px !important;
			color: white;
			font-family: "titilliumtext22l400_wt";
			text-transform: uppercase;
						
			&:hover{
				background-color: $bright-orange;
			}
			&:active, &.active{
				background-color: $orange;
			}
		}
	}
}
.freccia-d{
	background: image-url("freccia-d.png") no-repeat;	
}
.freccia-sx{
	background: image-url("freccia-sx.png") no-repeat;	
}
#categories_post{

	margin-left:-10px;
}
hr{
	@include span-columns(14,14);
	border-top: 1px solid $purple;
	border-bottom: 1px solid $purple;
}
#page {
  // page acts as a container for our grid.
	.container{
		@include container;
		@include susy-grid-background;
	}
  // header and footer are full-width by default.
  header, footer { clear: both; }
	
	
	#header-shade{
		background: image-url("shade_top.png") repeat-x left top;
		height: image-height("shade_top.png");
		margin-bottom: - image-height("shade_top.png");
		position: relative;
		
	}
	
 
	#branding{
		background-color: $purple;
		
		padding-top: 76px;
		padding-bottom: 56px;
		hgroup{
			@include float-left;
			@include pre(1);
			margin-bottom: 20px;
		}
		
		#site-title{
			width: 220px;
			
			
		}
		
		#site-description{
			clear: both;
			width: 220px;
			
			font-family: "arvil_sansregular";
			color: white;
			
			
			font-size: 32px;
			

			
			/* iPhone 4 ----------- */
			@media
			only screen and (-webkit-min-device-pixel-ratio : 1.5),
			only screen and (min-device-pixel-ratio : 1.5) {
			font-size: 24px;
			}
			border-top: 2px $green solid;
			border-bottom: 2px $green solid;
			text-align: center;
			
		}
		
		#searchform{
			@include span-columns(10);
			@include pre(1);
			text-align: right;
			
				.input-append{
					width: 100%;
					max-width: 240px;
					#s{
						width: 60%;
					}
					#searchsubmit{
						width: 40%;
					}
				}
			
			
			label{
				display: none;
				
			}
		}
	}
	#main{
		.container{
		background: $sand image-url('bkgr_center.png') repeat left top;
		position: relative;
		padding: 0;
		margin-bottom: 20px;
			#primary{
				@include float-left;
				@include span-columns(16);
				@include susy-grid-background;
				min-height: image-height("shade_right.png");
				padding-bottom: 30px;
			}
			#content{
				@include pre(1);
				
				@include post(1);
				article{
				
					
				}
				
			}
		}
		
		
	}
	#colophon{
		background-color: $yellow;
		
		h2{
			text-transform:uppercase;
			color: $dark-green;
			margin-top:10px;
			margin-bottom:10px;
			font-family:arvil_sansregular;
			font-size:35px;
			}
			
		p{
			font-family:titilliumtext22l400_wt;
			font-size:13px;
			color: $brow;
		}
		.contatti{
			
			@include pre(1); 
			@include span-columns(4);
		}
		
		.uglyfruit{
			
			@include pre(1);
			@include span-columns(4);
		}
		.social{
			height:150px;
		}
		ul{
			  @include horizontal-list-container;
   			  @include pre(1);
			  @include post(1);
			  padding-bottom:10px;
			  @include float-left;
			  li{
			  	@include horizontal-list-item;
				
				padding-left:5px;
				padding-right:5px;

				border-right:solid 1px $brow;
				a{
					font-family:titilliumtext22l400_wt;
					font-size:11px;
					color: $brow;
					text-decoration: none;
				}
				a:hover, a:visited{
					color: $dark-green;
				}
				}
			  li:last-child{
				border-right:none;
			  }
		}
		.facebook{
			background: image-url('facebook.png') no-repeat;
			height:image-height("facebook.png");
			width:image-width("facebook.png");
			@include float-left;
			margin-top: -5px;
		}
		.twitter{
			background: image-url('twitter.png') no-repeat;
			height:image-height("twitter.png");
			width:image-width("twitter.png");
			@include float-left;
			margin-left:5px;
			margin-top: -5px;
		}
		}
	
}
.orange_header{
			
			background: image-url('orange_header.png') repeat-x;
			height:image-height("orange_header.png");
			padding-top: 40px;
			@include span-columns(16);
			overflow: hidden;
			
			.circle{
				background-color: white;
				width: 220px;
				height: 220px;
				@include pre(1);
				@include float-left;
				@include border-radius(240px);
				text-align: center;
			}
			h1#title{
				clear: both;
				@include span-columns(4);
				font-family: "arvil_sansregular";
				color: black;
				border-top: 2px $green solid;
				border-bottom: 2px $green solid;
				text-align: center;
				font-size: 42px;
				margin-top: 90px;
				margin-left: 85px;

				
			}
			p#description{
				font-family:titilliumtext22l400_wt;
				font-size:14px;
				
				@include span-columns(7);
				@include pre(2);
				color: white;
				padding-top: 30px;
				text-indent: 1em;
				line-height: 16px; 
			}
		}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}